*{
    color:#ececec;
    font-family: Roboto,"Open Sans","Helvetica Neve","sans-serif";
}
body{
    margin:0;
    padding:0;
    height:100%;
    overflow: hidden;
}

.app{
    background-color:#212121;
    display: flex;
    height:100vh;
    overflow:hidden;
}